SQUARE_ACCESS_TOKEN=
SQUARE_LOCATION_ID_MARKET=
SQUARE_VERSION=2025-01-23
PUBLIC_DETOX_SINGLE_SESSION_PRODUCT_ID=BSRNUARXBO7LYS7GDGUJYRP4
PUBLIC_DETOX_SINGLE_SESSION_VARIATION_ID=EDZDJOKHPNW462I7AXSKKJ6T
PUBLIC_DETOX_SINGLE_SESSION_PAYMENT_LINK=
PUBLIC_SQUARE_BOOKING_URL=https://deeper-than-skin-llc.square.site/appointments
