SQUARE_ACCESS_TOKEN=
SQUARE_LOCATION_ID_MARKET=
SQUARE_VERSION=2025-01-23
PUBLIC_DETOX_SINGLE_SESSION_PRODUCT_ID=BSRNUARXBO7LYS7GDGUJYRP4
PUBLIC_DETOX_SINGLE_SESSION_VARIATION_ID=EDZDJOKHPNW462I7AXSKKJ6T
PUBLIC_DETOX_SINGLE_SESSION_PAYMENT_LINK=
PUBLIC_SQUARE_BOOKING_URL=https://deeper-than-skin-llc.square.site/appointments
PUBLIC_MARKET_PULSE_ENDPOINT=https://smashpro.app/api/v1/index.php?path=public/commerce/market-pulse&app_slug=deeper-than-skin
MARKET_CATEGORY_ID=
FEATURED_MARKET_CATEGORY_ID=
LAKE_CAROLINA_MARKET_CATEGORY_ID=
SODA_CITY_MARKET_CATEGORY_ID=
MARKET_CATEGORY_NAME=Market
FEATURED_MARKET_CATEGORY_NAME=Featured Drinks
PUBLIC_MARKET_REACTION_VIDEO_1=
PUBLIC_MARKET_REACTION_VIDEO_2=
