# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production
tests/api/.env

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# local deployment secrets
.vscode/sftp.json
.vscode/settings.json
api/bootstrap/config.php
api/v1/routes/_square.config.php
